.allcharacters{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;

}
.heading{
  background-color:#000000;
  color:#ffffff;
  height:70px;
  display:flex;
  align-items: center;
}